<!DOCTYPE html>
<html>

<head>
    <title>Login to ChatApp</title>
    <link rel="stylesheet" href="css/">
</head>

<body>
  <div>
    <form action="/login" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" username="username">
        <label for="password">Password:</label>
        <input type="password" id="password" password="password">
        <input type="submit" value="Log In">
      </form>
  </div>
<br>
  <div>
    <form action="/signup" method="POST">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password">
      <input type="submit" value="Sign Up">
    </form>
  </div>

</body>

</html>