<h2>Sign Up</h2>
<form action="/" method="POST">
    <div>
      <label>Username</label>
      <input name="username">
      <label>Password</label>
      <input name="password" type="password">
    </div>
    <div>
      <button>Sign Up</button>
    </div>
</form>

<h2>Login</h2>
<form action="/login" method="POST">
  <div>
    <label>Username</label>
    <input name="username">
    <label>Password</label>
    <input name="password" type="password">
  </div>
  <div>
    <button>Login</button>
  </div>
</form>